@CHARSET "UTF-8";

@media screen {
	* {
		font-family: 'Open Sans', verdana, helvetica, sans-serif;
	}

	body {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0;
		margin: 0;
		background-color: white;
	}
/*
	a {
 		text-decoration: none;
		color: inherit;
	}
	a:hover {
		text-decoration: underline;
	}
	footer {
		width: 100%;
		padding: 0;
	}
	nav {
		padding: 0;
		margin:0;
	}
	nav.nav-siblings {
		border-style: none;
	}
	nav.nav-trail, nav.nav-children, nav.nav-siblings {
		font-size: 80%;
	}
	nav.nav-trail, nav.nav-children {
		padding: 0 0 1em 0;
	}
	nav.nav-siblings {
		margin: 0.3ex 0 0 0;
	}
	nav.nav-trail, nav.nav-children, nav.nav-siblings {
		background-color: #eee;
		padding:0;
	}
	nav.nav-trail, nav.nav-children {
		display: inline;
	}
	nav.nav-siblings {
		width: 100%;
	}
	nav a.link-siblings, a.link-trail, a.link-children {
		margin: 0;
		text-decoration: none;
	}
	nav a.link-children {
		padding: 0 0 0 1ex;
	}
	nav a.link-siblings {
		padding: 0 1ex 0 1ex;
	}
	nav a.link-trail-first{
		padding: 0 0 0 1ex;
	}
	nav a.link-siblings {
		border-width: 1px 1px 0px 1px;
		border-color: #ccc #ccc white #ccc;
		border-style: solid;
		border-radius: 1ex 1ex 0 0;
	}
	nav a.link-trail-inner::before, nav a.link-trail-last::before {
		content: "/ ";
	}
	nav a.link-children::before {
		content: "\2198\202f";
	}
	nav a.link-children-first {
		border-style: none none none solid;
		border-width: 0 0 0 0.3em;
		border-color: transparent transparent transparent #ccc;
		margin: 0 0 0 1ex;
	}
	nav a.link-siblings {
		background-color: #eee;
	}
	nav a.link-siblings-self {
		background-color: white;
	}
	nav a.link-siblings-index {
		font-weight: bold;
		color: #666;
	}
	nav a.link-siblings-index::after {
		content: " \2192";
	}
	article {
		margin: 0;
		background-color:white;
	}
	footer {
		border: none;
		text-align: center;
		background-color: #eee;
		color: #666;
	}
	span.file-date {
		font-size: 80%;
		border: none;
		padding: 0 1ex 0 1ex;
	}
	h1 {
		font-size: 130%;
		font-weight: bolder;
		padding: 0.36em 0 0 0;
		margin: 0;
	}
	h2 {
		font-size: 115%;
		font-weight: bolder;
		margin: 0;
	}
	p {
		line-height: 1.44em;
		margin-top: 0.72em;
		margin-bottom: 0.72em;
	}
	article a.note,span.note {
		color: grey;
		font-weight: bold;
		font-variant: small-caps;
		text-decoration: none;
	}
	article a.note:hover {
		color: red;
	}
	section.footnotes,section.endnotes {
		padding: 0.25ex 0.25ex 0.25ex 3.25ex;
		font-size: 90%;
	}
	section.footnotes {
		border-width: 1px 0 0 0;
		border-style: solid;
		border-color: #888;
	}
	section.footnotes,section.endnotes p {
		text-indent: -3ex;
	}
*/
    nav { border-width: 0 0 0.1ex 0; border-color: #888; color: #666; border-style: solid; margin:0;}
    nav { padding: 0.2ex 0.5ex 0.2ex 0.5ex; line-heigh:90%;}
    footer.references {border-width: 0.1ex 0 0 0; border-color: #888; color: #666; border-style: solid; margin:0;}
    .parentnav { background-color: #eee; font-size: 80%;}
    .siblingnav { background-color: white; }
    .childnav { background-color: #f8f8f8; font-size:80%;}
	nav>a { text-decoration: none; color: inherit; }
	nav>a:hover { text-decoration: underline; }
	nav .self { font-weight:bold; color: black; }
	nav>a.children { font-style: italic; }
	nav>span { padding-left:0.2ex; padding-right:0.2ex;}
	nav>span.inner { padding-left: 0.25em; padding-right: 0.25ex;}
	nav>span.parents.last { padding-right: 2ex;}
	nav>span.children.first { padding-left: 2ex;padding-right: 0.2ex; }
    article {  padding:0.2ex 0.5ex 0.2ex 0.5ex; }

@media print {

	* {
		font-family: "Trebuchet", Verdana, sans-serif;
	}
}